
{% load static %}
<!DOCTYPE html>
<html lang="us-eng">
<head>
    
    <meta charset="utf-8">
    <title>www.OtoComputing.com</title>  
    <link rel="stylesheet" href="{% static 'todolist/css/style.css' %}">
</head>
<body>
    <header>
        
            <h1 >
                Storm:The defeat of darkness.
            </h1>
     
        <nav class="nv">
            <a href="index.html " class="tabon">HOME</a>
            <a href="about.html" class="tab">ABOUT US</span></a>   
            <a href="forum.html" class="tab">FORUM</a> 
            <a href="contact.html" class="tab">CONTACT</a> 
            <a href="https://www.facebook.com/" target ='_blank' id="facebook"><img alt="Facebook logo" height="45" src="https://www.facebook.com/images/fb_icon_325x325.png" width="48" class="tab tabl"></a>
            <a href="https://www.youtube.com//" target="_blank" id="youtube"><img alt="Youtube logo" height="48"  src="https://s.ytimg.com/yts/img/favicon_144-vfliLAfaB.png" width="48" class="tab tabm"></a>
            <a href="https://twitter.com/" target="_blank" id="twitter"><img  alt="Twitter logo" height="48" src="images/twitter.png" width="48" class="tab tabr"></a>
        </nav>   
                
    </header>
    <div class="body_top">
        <img src="images/Logo.png" alt="company logo">
        
    </div>
   
   <div class="fc">

<aside>
   
            <p>
                    We wish you a warm welcome to this forum.OtoComputing was founded in 2014 by us as a video games
                developement studio.Over the years we have diversified the business to include
                the development of scalable, efficient, reliable web ,mobile and desktop application.
                From improving your search enginge optimisation(SEO) to providing business intelligence solutions
                we are there to serve you.Read our testimonials below.Once again thanks and welcome!
            
            </p>
            
   
</aside>
<main>
    <p>    This is my paragraph for aside</p>
        <p>This is my paragraph</p>
        <p>
            We wish you a warm welcome to this forum.OtoComputing was founded in 2014 by us as a video games
        developement studio.Over the years we have diversified the business to include
        the development of scalable, efficient, reliable web ,mobile and desktop application.
        From improving your search enginge optimisation(SEO) to providing business intelligence solutions
        we are there to serve you.Read our testimonials below.Once again thanks and welcome!
    
    </p>
  <ul class="list-group- t20">
      {% for todolist in todo_items %}
      {% if  todolist.completed %}
      <li class="list-group-item todo-completed">{{todolist.text}}</li>
      {% else %}
     <a href="#"><li class="list-group-item">{{todolist.text}}</li></a> 
       {% endif %} 
      {% endfor %}
      
  </ul>  
        

</main>

<section>
    <p>
        We wish you a warm welcome to this forum.OtoComputing was founded in 2014 by us as a video games
    developement studio.Over the years we have diversified the business to include
    the development of scalable, efficient, reliable web ,mobile and desktop application.
    From improving your search enginge optimisation(SEO) to providing business intelligence solutions
    we are there to serve you.Read our testimonials below.Once again thanks and welcome!

</p>
<p>This paragraph has children <span>spans</span> and <span>q</span>, which, in turn, have their own child <span>spans</span>.

    <q>With this structure, we can see how some CSS <span>rules</span> are
    <span>applied across a <q>variety</q></span> of scopes.</q>
    <p>
            We wish you a warm welcome to this forum.OtoComputing was founded in 2014 by us as a video games
        developement studio.Over the years we have diversified the business to include
        the development of scalable, efficient, reliable web ,mobile and desktop application.
        From improving your search enginge optimisation(SEO) to providing business intelligence solutions
        we are there to serve you.Read our testimonials below.Once again thanks and welcome!
    
    </p>
    <p>This paragraph has children <span>spans</span> and <span>q</span>, which, in turn, have their own child <span>spans</span>.

        <q>With this structure, we can see how some CSS <span>rules</span> are
        <span>applied across a <q>variety</q></span> of scopes.</q>
        </p>
    </p>
</section>      

</div> 

<footer>
    <p>
        Authoring copyrights and contact information.      
    </p>
    <nav>
            <a href="https://www.facebook.com/" target ='_blank'><img alt="Facebook logo" height="45" src="https://www.facebook.com/images/fb_icon_325x325.png" width="48"></a>
            <a href="https://www.youtube.com//" target="_blank"><img alt="Youtube logo" height="48"  src="https://s.ytimg.com/yts/img/favicon_144-vfliLAfaB.png" width="48"/></a>
            <a href="https://twitter.com/" target="_blank"><img  alt="Twitter logo" height="48" src="images/twitter.png" width="85"/></a>
            
    </nav>        
</footer>



</body>
</html>